body{background:#8a8a8a;}
#wrapper{
 Height: 22px;
 background: #20b2aa;}
 width:100%;
 margin: 0px;
 padding:1em;
  border:.1em solid #cccccc;}
 color: #8a8a8a;
 transition: color 0.5s;
 text-decoration: none;
 p,h1,h2,a{
 font-family:Verdana;
 font-size:2em;
 font-weight:normal;
 text-align: center;}
h1 {font-size:2em;}
h2 font-size:1.5em;}
figure,nav{
display:flex;
margin:auto;
width:200%;}
.big{width:50%;}
.middle{width:45%;}
.small{width:30%;}
.img-banner {
 display: none;
}
article{width:56%;
 margin: auto;
 padding:38px;
 border:.3em solid #111;
 float:right;}
footer{width:98%;
 margin: auto;
 padding:1em;
 border:.3em solid #111;clear:both;text-align: right;}
 .ref{ font-size:.8em;text-align:left;}
@media(max-width:600px) {float:none;}









/*{word-break:break-all}
body {background-color:#F0F8FF;}
header {color:#ffff00; text-align:center;font-size:6em}
p, quote{color:#ff0000; text-align:left;font-size:2em;overflow-wrap:break-word}
figure {float:left; height:60%;width:40%;padding:.6em;border:1em; margin:1em;border-color:#F8F8FF;}

a {color:#20b2aa; text-align:left; font-size:2em}
article  {float:left;background-color:#007777; border:.5em solid #ffffff; width:60%; height:25%; padding: 0em; margin:.5em;}
.ref {font-size:1em;}
aside {float:left;background-color:#007777; border:.5em solid #COCOCO; width:50%; height:25%; padding: 0em; margin:.5em;}
*/
